# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
csv-reader

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# mac files
.DS_Store

# files too big to upload to github
test_data_ridiculous.csv
